{% extends 'main/base.html' %}
{% load static %}
{% block content %}

            <div class="row justify-content-center">
                <div class="col-lg-8">
                <h1 class="justify-content-center">Blog Update</h1>
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="control-group">
                                <label for="title">Title</label>
                                <input type="text" value="{{ blog.title }}" name="title" class="form-control border-0 p-4"  id="title" placeholder="Title" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input class="form-control border-0 py-3 px-4" type="text" name="content" value="{{ blog.content }}" id="content" placeholder="Content" required="required" data-validation-required-message="Please enter your message"></input>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input class="form-control border-0 p-4" name="status" value="{{ blog.status }}" id="status" placeholder="Status" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" name="comment" value="{{ blog.comment }}" id="comment" placeholder="Comment" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            <div class="control-group">
                                <input type="datetime-local" class="form-control border-0 p-4" name="publish" value="{{ blog.publish }}" id="publish" placeholder="Publish" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="datetime-local" class="form-control border-0 p-4" name="updated" value="{{ blog.updated }}" id="updated" placeholder="Updated" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}